



<div class="container px-90">  
    <div class="row">
        <div class="col-8">
            <h1 class=""> Su Carrito de Compras </h1>

        </div>

    </div>
    
        <div class="table table-striped">
            <thead class="thead-dark">
                <th scope="col">Id</th>
                <th scope="col">Descripción</th>
                <th scope="col">Categoría</th>
                <th scope="col">Precio unitario</th>
                <th scope="col">Cantidad</th>
                              
                <th scope="col">Foto</th> 
                <th scope="col">Eliminar</th>
             
                

            </thead>
            <tbody>
                <tr *ngFor="let productoPedido of pedido; index as i ">
                    <td>{{productoPedido.id}}  </td>
                    <td>{{productoPedido.descripcion}} </td>
                    <td>{{productoPedido.categoria}} </td>
                    <td> ₡{{productoPedido.precio}}</td>
                    <td> {{productoPedido.cant}}</td>                                      
                    <td> <img src={{endPoint}}{{productoPedido.imagen[0].url}} 
                        alt=""
                        width="60"
                        height="40"></td>
                   
                    <td><button class="btn btn-danger"   (click)=eliminarProducto(productoPedido)>Eliminar</button></td>
                </tr>
                <tr>
                    <td>Total ₡:  </td>
                    <td> <h4> {{total}} </h4>  </td>
                </tr>
                <tr>
                    <td>Total $:  </td>
                    <td> <h4>₡ {{totaldolar}} </h4>  </td>
                </tr>


            </tbody>
          
        </div>
        <button class="btn btn-primary" [routerLink]="['/pago/']" > Pagar</button>    
        <button class="btn btn-secondary" > Seguir comprando</button>     
   
</div>






<router-outlet></router-outlet>
