.card{
    width: 30;
    height: 25;
}
.agotado{
    background-color: bisque;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    height: 40px;
    font-size: 24;
}
.cantidad{
    text-align: center;
    
  
}